@font-face {
    font-family: 'icons';
    src: url('/font/icons.eot');
    src: url('/font/icons.eot?#iefix') format('embedded-opentype'), url('/font/icons.woff') format('woff'), url('/font/icons.svg#icomoon') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'social_networks';
    src: url('/font/social_networks.eot');
    src: url('/font/social_networks.eot#iefix') format('embedded-opentype'), url('/font/social_networks.ttf') format('truetype'), url('/font/social_networks.woff') format('woff'), url('/font/social_networks.svg#social_networks') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Ruge Boogie";
    src: url("/font/ruge_boogie.eot");
    src: url("/font/ruge_boogie.eot?#iefix") format("embedded-opentype"), url("/font/ruge_boogie.woff2") format("woff2"), url("/font/ruge_boogie.woff") format("woff"), url("/font/ruge_boogie.ttf") format("truetype"), url("/font/ruge_boogie.svg#RugeBoogie-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mak Bold";
    src: url("/font/Mak-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mak Light";
    src: url("/font/Mak-Light.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mrAkronimG";
    src: url("/font/mr_AkronimG.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mrDopestyleG";
    src: url("/font/mr_DopestyleG.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mrKindlyJasmineG";
    src: url("/font/mr_KindlyJasmineG.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Old Standard TT Italic";
    src: url("/font/Old Standard TT Italic.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Russian_Punk";
    src: url("/font/Russian_Punk.ttf");
    font-weight: normal;
    font-style: normal;
}