@import '../../customer/_layout.scss';

.user-details-form {
    .input-container {
        @extend .mb-3;

        .input-label {
            display: inline-block;
        }

        .input {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    }

    .email-container {
        @extend .input-container;
    }

    .last-name-container {
        @extend .input-container;
    }

    .first-name-container {
        @extend .input-container;
    }

    .middle-name-container {
        @extend .input-container;
    }

    .phone-container {
        @extend .input-container;
    }

    .company-container {
        @extend .input-container;
    }

    .address-container {
        @extend .input-container;
        @extend .dropup;

        .input {
            @extend .dropdown-toggle;
        }

        .input-dropdown {
            @extend .dropdown-menu;

            .input-dropdown-item {
                @extend .dropdown-item;
                @extend .d-none;
            }
        }
    }
}
