<nav class="page-navbar">
    <div class="navbar-container">
        <div class="full-size-container">
            <ul class="base-links">
                <li class="logo-link">
                    <a href="/"><i class="link-icon"></i>CL</a>
                </li>
                <li class="product-list-link">
                    <a href="/Customer/Product/List">Каталог товаров</a>
                </li>
                <li class="home-about-link">
                    <a href="/Home/About">О нас</a>
                </li>
            </ul>
        </div>
    </div>
</nav>