<nav class="page-userbar">
<div class="btn-group dropstart">
    <button class="btn btn-outline-info position-relative dropdown-toggle mx-2" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
        <i class="bi bi-person-circle text-white"></i>
        <span class="visually-hidden">управление аккаунтом</span>
    </button>
    <div class="dropdown-menu border border-info">
@*        @if (Model.User == null || Model.User.IsAnonimous)
        {*@
            <h4 class="dropdown-header">Вход в аккаунт</h4>
            <div class="dropdown-divider"></div>
            <form asp-action="LogIn" asp-controller="Auth" asp-area="Account" class="px-4 py-3">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Адрес эл.почты</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
                </div>
                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember" name="remember">
                        <label class="form-check-label" for="remember">
                            Запомнить
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
            <div class="dropdown-divider"></div>
            <a asp-action="Registration" asp-controller="Auth" asp-area="Account" class="dropdown-item">Регистрация</a>
            <a class="dropdown-item" href="#">Восстановить пароль</a>
@*        }
        else
        {
            <h4 class="dropdown-header">@Model.User.Login</h4>
            <div class="dropdown-divider"></div>
            <a asp-action="Details" asp-controller="User" asp-area="Account"  class="dropdown-item">Личные данные</a>
            <a asp-action="List" asp-controller="Purchase" asp-area="Account" class="dropdown-item">Заказы</a>
            if(Model.UserHelper.IsAdministrator(Model.User)) 
            {
                <div class="dropdown-divider"></div>
                <h4 class="dropdown-header">Администратор</h4>
                <a asp-action="List" asp-controller="Product" asp-area="Admin" class="dropdown-item">Настроить каталог</a>
            }
            <div class="dropdown-divider"></div>
            <div class="px-4 py-3">
                <a asp-action="LogOut" asp-controller="Auth" asp-area="Account" class="btn btn-primarybtn btn-primary">Выйти</a>
            </div>
        }*@
    </div>
</div>
</nav>