<div class="section-label">
    <p class="label-link">
        <a asp-controller="Home" asp-action="About" class="segment-link"><i class="link-icon"></i></a>
        <span class="segment-number">Наши контакты:</span>
    </p>
</div>
<div class="section-phone-numbers">
    <div class="phone-numbers">
        <p class="phone-number">
            <a href="tel:+71234567890" class="segment-link"><i class="link-icon"></i></a>
            <span class="segment-number">+7 (123) 456-78-90</span>
        </p>
        <p class="phone-number">
            <a href="tel:+71234567891" class="segment-link"><i class="link-icon"></i></a>
            <span class="segment-number">+7 (123) 456-78-91</span>
        </p>
        <p class="phone-number active">
            <a href="tel:+71234567892" class="segment-link"><i class="link-icon"></i></a>
            <span class="segment-number">+7 (123) 456-78-92</span>
        </p>
    </div>
</div>
<div class="section-emails">
    <div class="emails">
        <p class="email"><a href="mailto:example@gmail.com" class="segment-link"><i class="link-icon"></i></a><span class="segment-address">example@gmail.com</span></p>
        <p class="email active"><a href="mailto:example@mail.ru" class="segment-link"><i class="link-icon"></i></a><span class="segment-address">example@mail.ru</span></p>
    </div>
</div>
<div class="section-social-networks">
    <div class="social-networks">
        <a href="https://vk.com/vk" class="vkontakte"> <span class="path1"></span><span class="path3"></span></a>
        <a href="https://wa.me/12345678901" class="whatsapp"><span class="path1"></span><span class="path2"></span><span class="path3"></span></a>
        <a href="viber://chat?number=%2B12345678901" class="viber"></a>
        <a href="https://t.me/telegram" class="telegram"></a>
        <a href="https://www.youtube.com/user/youtube" class="youtube"><span class="path1"></span><span class="path2"></span></a>
    </div>
</div>
<div class="section-map">
    <p class="text">
        <a href="@(Url.Action("About", "Home"))#map" class="map-page"><i class="link-icon"></i></a>
        <span>Наш адресс: Россия, г.Белгород Соборная площадь, 4</span>
        <a href="https://yandex.ru/maps/-/CCUJ5TBCOB" class="map-yandex">
            <span class="path1"></span>
            <span class="path2"></span>
        </a>
        <a href="https://goo.gl/maps/DmkiHBNh1kahq27s7" class="map-google">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
        </a>
    </p>
</div>
<div class="section-creator">
    <div class="creator-container">
        <p><span>Автор: Селин Андрей</span></p>
        <a href="https://localhost:44324/" class="segment-link"><i class="link-icon"></i></a>
        <a href="https://vk.com/sonne3s" class="vkontakte"> <span class="path1"></span><span class="path3"></span></a>
        <a href="https://t.me/sonne3s" class="telegram"></a>
        <a href="https://www.youtube.com/user/Sonne3s" class="youtube"><span class="path1"></span><span class="path2"></span></a>
    </div>
</div>