<div class="section-label">
    <p class="label-link">
        <a asp-controller="Home" asp-action="About" class="segment-link"><i class="link-icon"></i></a>
        <span class="segment-number">Наши контакты:</span>
    </p>
</div>
<div class="section-phone-numbers">
    <div class="phone-numbers">
        <p class="phone-number">
            <a href="tel:+79998337963" class="segment-link"><i class="link-icon"></i></a>
            <span class="segment-number">8-999-833-7953</span>
        </p>
        <p class="phone-number">
            <a href="tel:+79202006665" class="segment-link"><i class="link-icon"></i></a>
            <span class="segment-number">8-920-200-6665</span>
        </p>
        <p class="phone-number active">
            <a href="tel:+79103635551" class="segment-link"><i class="link-icon"></i></a>
            <span class="segment-number">8-910-363-5551</span>
        </p>
    </div>
</div>
<div class="section-emails">
    <div class="emails">
        <p class="email"><a href="mailto:sonne.mobstyle@gmail.com" class="segment-link"><i class="link-icon"></i></a><span class="segment-address">sonne.mobstyle@gmail.com</span></p>
        <p class="email active"><a href="mailto:sonne_mobstyle@mail.ru" class="segment-link"><i class="link-icon"></i></a><span class="segment-address">sonne_mobstyle@mail.ru</span></p>
    </div>
</div>
<div class="section-social-networks">
    <div class="social-networks">
        <a href="https://vk.com/sonne3s" class="vkontakte"> <span class="path1"></span><span class="path3"></span></a>
        <a href="https://wa.me/79998337953" class="whatsapp"><span class="path1"></span><span class="path2"></span><span class="path3"></span></a>
        <a href="viber://chat?number=%2B79998337953" class="viber"></a>
        <a href="https://t.me/sonne3s" class="telegram"></a>
        <a href="https://www.youtube.com/user/Sonne3s" class="youtube"><span class="path1"></span><span class="path2"></span></a>
    </div>
</div>
<div class="section-map">
    <p class="text">
        <a href="@(Url.Action("About", "Home"))#map" class="map-page"><i class="link-icon"></i></a>
        <span>Наш адресс: Россия, г.Белгород переулок 3-й Северный д.18</span>
        <a href="https://yandex.ru/maps/-/CCUFrZsbxC" class="map-yandex">
            <span class="path1"></span>
            <span class="path2"></span>
        </a>
        <a href="https://goo.gl/maps/ZqeRjKGHWiZ9YpME9" class="map-google">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
            <span class="path4"></span>
            <span class="path5"></span>
        </a>
    </p>
</div>
<div class="section-creator">
    <div class="creator-container">
        <p><span>Автор: Селин Андрей</span></p>
        <a href="https://localhost:44324/" class="segment-link"><i class="link-icon"></i></a>
        <a href="https://vk.com/sonne3s" class="vkontakte"> <span class="path1"></span><span class="path3"></span></a>
        <a href="https://t.me/sonne3s" class="telegram"></a>
        <a href="https://www.youtube.com/user/Sonne3s" class="youtube"><span class="path1"></span><span class="path2"></span></a>
    </div>
</div>