@mixin scrollbar($width, $dotted-width, $thumb-width, $track-color: #f2f9fe) {
    &::-webkit-scrollbar {
        width: $width; /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        border: dotted $track-color $dotted-width; /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparentize($color-scrollbar-thumb, 0.9); //$color-scrollbar-thumb; /* цвет плашки */
        border-radius: $thumb-width; /* закругления плашки */
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: $color-scrollbar-thumb;
        }
    }
}
