@{
    Layout = null;
}

<div class="home-page">
    <div class="home-page-background-container">
        <img class="home-page-background" src="~/img/site/home_page_background.jpg" />
    </div>
    <div class="home-page-logo">
        <h1 class="text-center"><i class="logo-emblem"></i><span class="logo-label">Cool Life</span></h1>
    </div>
    <a class="home-page-link" href="@Url.Action("List", "Product", new { Area = "Customer"})">Перейти к товарам</a>
</div>

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/customer/home/index.min.css" asp-append-version="true" />